div{
  border: 5px solid;
}
.container{
  border-color: #6AC5AC;
  overflow: auto;
}
.nav{
  border-color: #D64078;
  color: #D64078;
  float: left;
  width: 200px;
}
.section{
  margin-left: 200px;

  border-color: #FDC72F;
}


@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}